# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
*/node_modules

cypress/screenshots/
cypress/videos/
mochawesome-report/
cypress/reports/
cypress.env.json
cypress/downloads/